<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vainilla JS slider</title>
    {{# each htmlWebpackPlugin.files.css }}
    <link async rel="stylesheet" as="style" href="{{ this }}">
    {{/ each }}
    {{# each htmlWebpackPlugin.files.extracted.css }}
    <link async rel="subresource" as="style" href="{{ this.file }}" onload="this.rel='stylesheet'"
        media="{{ this.query }}">
    {{/ each }}
</head>

<body>
    <div class="slider">
        <figure class="slider__track-container">
            <img class="slider__image" src="./assets/images/desk.png" alt="firt image">
            <img class="slider__image" src="./assets/images/desk2.png" alt="second image">
            <img class="slider__image" src="./assets/images/desk.png" alt="third image">
            <img class="slider__image" src="./assets/images/desk3.png" alt="third image">
            <img class="slider__image" src="./assets/images/desk.png" alt="third image">
        </figure>
    </div>
    {{# each htmlWebpackPlugin.files.js }}
    <script defer src="{{ this }}"></script>
    {{/ each}}
    {{# each htmlWebpackPlugin.files.extracted.js }}
    <script defer src="{{ this.file }}"></script>
    {{/ each}}
</body>

</html>