<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vainilla JS carousel</title>
    {{# each htmlWebpackPlugin.files.css }}
    <link async rel="stylesheet" as="style" href="{{ this }}">
    {{/ each }}
    {{# each htmlWebpackPlugin.files.extracted.css }}
    <link async rel="subresource" as="style" href="{{ this.file }}" onload="this.rel='stylesheet'"
        media="{{ this.query }}">
    {{/ each }}
</head>

<body>


    <span class="example-style">
        Hellow world from template html
    </span>
    {{# each htmlWebpackPlugin.files.js }}
    <script defer src="{{ this }}"></script>
    {{/ each}}
    {{# each htmlWebpackPlugin.files.extracted.js }}
    <script defer src="{{ this.file }}"></script>
    {{/ each}}
</body>

</html>