<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    {{# each htmlWebpackPlugin.files.css }}
    <link async rel="stylesheet" as="style" href="{{ this }}">
    {{/ each }}
    {{# each htmlWebpackPlugin.files.extracted.css }}
    <link async rel="subresource" as="style" href="{{ this.file }}" onload="this.rel='stylesheet'"
        media="{{ this.query }}">
    {{/ each }}
</head>

<body>
    <div class="login">
        <div class="login__box">
            <span class="login_title">Login</span>
            <form autocomplete="off">
                <div class="login_inputBox">
                    <input class="login__input" id="userName" type="text" required>
                    <label class="login__label" for="userName">Username</label>
                </div>
                <div class="login_inputBox">
                    <input class="login__input" id="password" type="password" required>
                    <label class="login__label" for="password">Password</label>
                </div>
                <input class="login__submit" type="submit">
            </form>
        </div>
    </div>
    {{# each htmlWebpackPlugin.files.js }}
    <script defer src="{{ this }}"></script>
    {{/ each}}
    {{# each htmlWebpackPlugin.files.extracted.js }}
    <script defer src="{{ this.file }}"></script>
    {{/ each}}
</body>

</html>